@model MemberPortal.Repository.ClientAccount
@{
    ViewBag.Title = "Transaction Summary";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<link href="~/assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/Content/style1.min.css" rel="stylesheet" />


<div class="page-wrapper">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
                <h5 class="font-medium text-uppercase mb-0">My Account</h5>
            </div>
            <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
                <nav aria-label="breadcrumb" class="mt-2 float-md-right float-left">
                    <ol class="breadcrumb mb-0 justify-content-end p-0">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item active" aria-current="page">Account List</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

   @*Start*@
   
    <div class="page-content container-fluid">

        <div class="row">
            <div class="col-10">

                <h4 class="card-title mb-2">Account List</h4>
                <hr />`
                <div class="row">
                    <!-- Column -->
                    @foreach (var item in Model.GetClientSavingsAccts(ViewBag.AcctName))
                    {
                        <div class="col-lg-3 col-md-6">
                            <div class="card text-white bg-info card-hover">
                                <div class="card-header">Savings Account</div>
                                <div class="card-body">
                                    <h5 class="mt-0"><a href="@Url.Action("SavingsAcctHist", "History", new { id = item.AcctNo })" class="text-white">@item.ProdName</a></h5>
                                    <h5><a href="@Url.Action("SavingsAcctHist", "History",new { id = @item.AcctNo })" class="text-white">Acct No @item.AcctNo</a></h5>
                                    <span class="pull-right"><h3>@String.Format("{0:C}", @item.activeAcctBalance)</h3></span>
                                    <span class="font-500">Php</span>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- Column -->        
                    @foreach (var item in Model.GetClientSharedCapitalAccts(ViewBag.AcctName))
                    {
                        <div class="col-lg-3 col-md-6">
                            <div class="card text-white bg-danger card-hover">
                                <div class="card-header">Share Capital Account</div>
                                <div class="card-body">
                                    <h5 class="mt-0"><a href="@Url.Action("ShareCapitalAcctHist", "History",new { id = item.AcctNo })" class="text-white">@item.ProdName</a></h5>
                                    <h5><a href="@Url.Action("ShareCapitalAcctHist", "History",new { id = item.AcctNo })" class="text-white">Acct No: @item.AcctNo</a></h5>
                                    <span class="pull-right"><h3>@String.Format("{0:C}", @item.activeAcctBalance)</h3></span>
                                    <span class="font-500">Php</span>

                                </div>
                            </div>
                        </div>
                    }
                                   
                <!-- Column -->
                <!-- Column -->
                    @foreach (var item in Model.GetClientTDAccts(ViewBag.AcctName))
                    {
                        <div class="col-lg-3 col-md-6">
                            <div class="card text-white bg-success card-hover">
                                <div class="card-header">Time Deposit Account</div>
                                <div class="card-body">
                                    <h5 class="mt-0"><a href="@Url.Action("TimeDepositAcctHist", "History",new { id = item.AcctNo })" class="text-white">@item.ProdName</a></h5>
                                    <h5><a href="@Url.Action("TimeDepositAcctHist", "History",new { id = item.AcctNo })" class="text-white">Acct No: @item.AcctNo</a></h5>
                                    <span class="pull-right"><h3>@String.Format("{0:C}", @item.activeAcctBalance)</h3></span>
                                    <span class="font-500">Php</span>

                                </div>
                            </div>
                        </div>
                    }


                <!-- LOAN ACCOUNTS -->
                <!-- Column -->
                    @foreach (var item in Model.GetClientLoanAccts(ViewBag.AcctName))
                    {
                        <div class="col-lg-3 col-md-6">
                            <div class="card text-white bg-warning card-hover">
                                <div class="card-header">Loan Account</div>
                                <div class="card-body">
                                    <h5 class="mt-0"><a href="@Url.Action("LoanAcctHist", "History",new { id = item.AccountNumber })" class="text-white">@item.ProductName</a></h5>
                                    <h5><a href="@Url.Action("LoanAcctHist", "History",new { id = item.AccountNumber })" class="text-white">Acct No: @item.AccountNumber</a></h5>
                                    <span class="pull-right"><h3>@String.Format("{0:C}", @item.PrincipalBalance)</h3></span>
                                    <span class="font-500">Php</span>

                                </div>
                            </div>
                        </div>
                    }



                <!-- Column -->

            </div>

                </div>
            </div>

        </div>
    </div>


    <script src="~/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Js/datatable-basic.init.js"></script>