<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>NEC MPC</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Img/bg/banner/NEC Logo.png">
    <!-- All STYLESHEET CSS -->
    <link href="~/Css/element.css" rel="stylesheet" />
    <link href="~/Css/style.css" rel="stylesheet" />
    <link href="~/Css/responsive.css" rel="stylesheet" />

    <!-- link modernizr js -->
    <script src="~/Js/vendor/modernizr-2.8.3.min.js"></script>



</head>
<body>

    @Html.Partial("_PreLoader")
    <div class="main-wrapper">
        @Html.Partial("_Header")
        @RenderBody()
    </div>
    @Html.Partial("_Footer")

    <!-- ALL JQUERY  -->
    <script src="~/Js/vendor/jquery-1.12.0.min.js"></script>
    <script src="~/Js/plugins.js"></script>
    <script src="~/Js/instafeed.js"></script>
    <script src="~/Js/main.js"></script>

    @*@Scripts.Render("~/bundles/bootstrap")*@
    
    @RenderSection("scripts", required: false)

</body>
</html>
